footer {
    background: $green;
    
    .container {
        .row {
            .logo-footer{

                padding: 30px 0;

                display: flex;
                align-items: center;
                justify-content: space-between;

                #logo-fotter {
                    width: 160px;
                    height: 40px;
                }

                #icon-logo {
                    width: 23px;
                    height: 18px;
                }
            }
        }
    }
}