header {
    .navbar {
        padding-top: 29px;
        
        .container {
            

           .align-nav {
                width: 100%;
                justify-content: flex-end;
                align-items: center;

                a {
                    color: $white;
                    font-size: 14px;
    
                    #logo-header {
                        width: 182px;
                        height: auto;
                    }
                }

                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    li {
                        button {
                            margin-left: 10px;
                        }
                    }
                }
           }
        } 
    }
}


/* .menu {
    background: url('../assets/Rectangle\ 25.svg');
    background-size: cover;
    background-position: center;

    padding: 29px;

    .navbar-menu {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;


        display: flex;
        align-items: center;
        justify-content: space-between;

        .navbar {
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                padding: 0 10px;

                &:last-child {
                    padding-right: 0;
                }

                a{
                    color: $white;
                }
            }


        }
    }

    .banner {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;

        margin-top: 147px;
        margin-bottom: 145px;

        div {    
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            max-width: 440px;
            width: 100%;

            h1 {
                color: white;
                font-size: 38px;
                font-family: Poppins;
                font-weight: 700;
                line-height: 51px;
            }

            p {
                color: white;
                font-size: 16px;
                font-family: Poppins;
                font-weight: 400;
               
                margin: 5px 0 16px;
            }

        }


        
    }
} */